html {
    background-color: rgb(246, 246, 239);
    font-family: monospace;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 450px;
    background-color: rgb(74, 72, 72);
    margin: 100px;
}

#inner-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 96%;
    width: 96%;
    background-color: black;
}

#display {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 120px;
    width: 98%;
    margin-top: 5px;
    margin-bottom: 8px;
    background-color: rgb(200, 198, 198);
    font-size: 70px;
}

#buttonContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1px;
    width: 98%;
    height: 100%;
}

button {
    font-family: monospace;
    font-size: 30px;
    height: 100%;
    width: 100%;
    border-radius: 5%;
    transition: background-color 0.3s ease;
}

button.wide-number {
    grid-column: span 2;
}

button.number,
button.wide-number {
    background-color: #6AA956;
}

button.number:hover,
button.wide-number:hover {
    background-color: #88c176; /* Lighter shade on hover */
}

button.number:active,
button.wide-number:active {
    background-color: #a6d896; /* Even lighter on click */
}


button.special {
    background-color: #A9566A;
}

button.special:hover {
    background-color: #c17688; /* Lighter on hover */
}

button.special:active {
    background-color: #d896a6; /* Lighter on click */
}

button.operator {
    background-color: #566AA9;
}

button.operator:hover {
    background-color: #7688c1; /* Lighter on hover */
}

button.operator:active {
    background-color: #96a6d8; /* Lighter on click */
}